node_modules/
.env
.env.me
.env.vault
.env.local
.env.*.local
.env.development.local
.env.test.local
.env.production.local

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/
*.swp
*.swo
*~

.env*
.flaskenv*
.env.project
.env.vault
